{% extends "layout.html" %}

{% block title %}
    Debts
{% endblock %}

{% block main %}

<h2>Debts</h2>
    <hr>

    <div>

        <table>

            <thead>

                <tr>
                    <td>Name</td>
                    <td>Amount</td>
                    <td></td>
                    <td></td>
                </tr>

            </thead>

            <tbody>

                {% for debt in debts %}

                <tr>
                    <td>{{ debt.name }}</td>
                    <td>{{ debt.balance }}</td>
                    <td>

                        <form action="/debt" method="post">

                            <input type="hidden" name="name" value="{{ debt.name }}">
                            <input type="hidden" name="amount" value="{{ debt.balance }}">
                            <input type="hidden" name="pay_collect" value="Payment to">

                            {% if debt.balance != 0 %}
                                <button type="submit">Pay</button>
                            {% endif %}

                        </form>

                    </td>

                    <td>

                        <form action="/synch" method="post">

                        {% for lend in lends %}

                            {% if debt.name == lend.name %}

                            <input type="hidden" name="name" value="{{ debt.name }}">
                            <input type="hidden" name="type" value="{{ debt.type }}">
                            <input type="hidden" name="request_source" value="debt">

                            <button type="submit">Synch</button>

                            {% endif %}

                        {% endfor %}

                        </form>

                        <form action="/unsynch" method="post">

                            {% if debt.type == "synched" %}

                            <input type="hidden" name="name" value="{{ debt.name }}">
                            <input type="hidden" name="type" value="{{ debt.type }}">
                            <input type="hidden" name="request_source" value="debt">

                            <button type="submit">Unsynch</button>

                            {% endif %}

                        </form>

                    </td>


                </tr>

                {% endfor %}

            </tbody>

        </table>
        
    </div>

{% endblock %}