{% extends "layout.html" %}

{% block title %}
    Edit Debt/Receivable
{% endblock %}

{% block main %}

<h2>Edit Debts/Receivables</h2><hr>

<form action="/create_debt_receivable" method="post">

    <input type="text" name="created_debt_receivable" placeholder="New Debt/Receivable">
    <input type="number" name="initial_amount" placeholder="Initial Amount">
    
    <button type="submit">Create</button>

</form><hr>

<table name="account_to_edit">

    <tbody>
            
        {% for account in accounts %}

                <tr>

                    <form action="/edit_account" method="post">
                        <td>{{ account.account_name }}</td>

                        <input type="hidden" name="account_to_edit" value="{{ account.account_name }}">

                        <td><button type="submit">Edit</button></td>
                    </form>
                    

                    <form action="/delete_account" method="post">
                        <input type="hidden" name="account_to_delete" value="{{ account.account_name }}">
                        <td><button type="submit">Delete</button></td>
                    </form>

                </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}