{% extends "layout.html" %}

{% block title %}
    {{ category }}
{% endblock %}

{% block main %}
    <div align="center">
        <form action="/2_2" method="post">
            <div style="float:center;" class="mb-3">
                <input class="form-control mx-auto w-auto" id="name" name="name" placeholder="Name" type="text">
            </div>
            <button style="float:center" class="btn btn-primary" type="submit">Save</button>
        </form>
    </div>

    <div align="center">
        <form action="/2_2" method="post">
            <div style="float:center;" class="mb-3">
                <select name="name">
                    <option disabled selected>Receivable</option>
                    {% for debt_receivable in debts_receivables %}
                        <option value="{{ debt_receivable.name }}">{{ debt_receivable.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <button style="float:center" class="btn btn-primary" type="submit">Save</button>
        </form>
    </div>

{% endblock %}
