{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<!-- Basic Card Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Trasaction Confirmation</h6>
    </div>
    <div class="card-body">
        <!--Table-->
        <table class="table table-bordered" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Amount</th>
                    <th>{{ column_4  }}</th>
                    <th>{{ column_5 }}</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        {% for transaction in transactions %}
                        <td>{{ transaction }}</td>
                        {% endfor %}
                    </tr>
            </tbody>
        </table>
        <form action="/lend_or_borrow" method="post">
            <input type="hidden" name="name" value="{{ name }}">
            <button class="btn btn-primary" style="width:100%" type="submit">Confirm</button>
        </form>
        <!--End of Table-->
    </div>
</div>




{% endblock %}