{% extends "layout.html" %}

{% block title %}
    Debts
{% endblock %}

{% block main %}
<h2>Debts</h2><hr>

<div class="section">
    <table class="table">
        <thead>
            <tr>
                <td>Name</td>
                <td>Amount</td>
            </tr>
        </thead>
        <tbody>
            {% for debt in debts %}
                <tr>
                    <td>{{ debt.name }}</td>
                    <td>{{ debt.balance }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}