{% extends "layout.html" %}

{% block title %}
    Debts
{% endblock %}

{% block main %}
<h2>Debts</h2><hr>

<div class="section">
    <table class="table">
        <thead>
            <tr>
                <td>Name</td>
                <td>Amount</td>
            </tr>
        </thead>
        <tbody>
            {% for debt in debts %}
                <tr>
                    <td>{{ debt.name }}</td>
                    <td>{{ debt.balance }}</td>
                    <form action="/pay_debt" method="post">
                        <input type="hidden" id="to_pay" name="to_pay" value="{{ debt.name }}">
                        <td><input class="form-control mx-auto w-auto" id="new_account" name="new_account" placeholder="Amount" type="number" min='1'>
                        <button style="float:center" class="btn btn-primary" type="submit">Pay Debt</button></td>
                    </form>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}