{% extends "layout.html" %}

{% block title %}
    Debts
{% endblock %}

{% block main %}
<h2>Debts</h2><hr>

<div class="section">
    <table class="table">
        <thead>
            <tr>
                <td>Name</td>
                <td>Amount</td>
            </tr>
        </thead>
        <tbody>
            {% for debt in debts %}
                <tr>
                    <td>{{ debt.name }}</td>
                    <td>{{ debt.balance }}</td>
                    <form action="/pay_debt" method="post">
                        <input type="hidden" id="name" name="name" value="{{ debt.name }}">
                        <input type="hidden" id="amount" name="amount" value="{{ debt.balance }}">
                        <td><button style="float:center" class="btn btn-primary" type="submit">Pay</button></td>
                    </form>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}