{% extends "layout.html" %}

{% block title %}
    {{ block_title }}
{% endblock %}

{% block main %}
    <!-- Basic Card Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Basic Card Example</h6>
        </div>
        <div class="card-body">
            <form action="/edit_2" method="post" type="hidden">

                <input type="{{ name_visibility }}" name="element_to_create" placeholder="{{ placeholder_caption }}">
                <input type="{{ balance_visibility  }}" min='0' name="amount_to_put" placeholder="Amount">
                <input type="hidden" name="method" value="create">
        
                <button type="submit" {{ strip_quote(button_visibility) }}>Create</button>
        
            </form><hr>
        
            <table>
        
                    <tbody>
        
                        {% for element in elements %}
        
                            <tr>
        
                                <form action="/edit_2" method="post">
                                    <td>{{ element.name }}</td>
        
                                    <input type="hidden" name="current_element_name" value="{{ element.name }}">
                                    <input type="hidden" name="method" value="modify">
        
                                    <td>
                                        <button type="submit" class="btn btn-success btn-icon-split btn-sm">
                                            <span class="icon text-white-50">
                                                <i class="fas fa-pen"></i>
                                            </span>
                                        <span class="text">Modify</span>
                                        </button>
                                    </td>
        
                                </form>
        
                                
                                <form action="/edit_2" method="post">
        
                                    <input type="hidden" name="element_to_delete" value="{{ element.name }}">
                                    <input type="hidden" name="method" value="delete">
                                    <td>
                                        <button type="submit" class="btn btn-danger btn-icon-split btn-sm">
                                            <span class="icon text-white-50">
                                                <i class="fas fa-trash"></i>
                                            </span>
                                        <span class="text">Delete</span>
                                        </button>
                                    </td>
        
                                </form>
        
                            </tr>
        
                        {% endfor %}
        
                    </tbody>
        
            </table>
        </div>
    </div>

{% endblock %}