{% extends "layout.html" %}

{% block title %}
    Edit
{% endblock %}

{% block main %}
    <h2>Edit</h2><hr>

    <!-- Basic Card Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Basic Card Example</h6>
        </div>
        <div class="card-body">
            <table>
                <tbody>
                        <tr>
                            <td>Descriptions</td>
                            <td>
                                <form action="/edit" method="post">
                                    <input type="hidden" name="table_to_edit" value="description">
                                    <button type="submit">Edit</button>
                                </form>
                            </td>
                        </tr>
                        <tr>

                            <td>Accounts</td>

                            <td>

                                <form action="/edit" method="post">
                                    <input type="hidden" name="table_to_edit" value="accounts">
                                    <button type="submit">Edit</button>
                                </form>

                            </td>

                        </tr>

                        <tr>

                            <td>Debts</td>

                            <td>

                                <form action="/edit" method="post">
                                    <input type="hidden" id="edit_debts" name="table_to_edit" value="Debt">
                                    <button type="submit">Edit</button>
                                </form>

                            </td>

                        </tr>
        
                        <tr>

                            <td>Lends</td>

                            <td>

                                <form action="/edit" method="post">
                                    <input type="hidden" name="table_to_edit" value="Lend">
                                    <button type="submit">Edit</buton>
                                </form>

                            </td>

                        </tr>

                </tbody>

            </table>
        </div>
    </div>


{% endblock %}