{% extends "layout.html" %}

{% block title %}
    {{ block_title }}
{% endblock %}

{% block main %}
    <!-- Basic Card Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Edit Lends</h6>
        </div>
        <div class="card-body">
            <!--Table-->
            <table>
                <tbody>
                    {% for lend in lends %}
                    <tr>
                        <!--Modify Column-->
                        <form action="/edit_lend" method="post">
                            <td class="padded" style="max-width:120px">{{ lend.name }}</td>
                                <input type="hidden" name="current_lend" value="{{ lend.name }}">
                                <input type="hidden" name="method" value="modify">
                            <td class="padded">
                                <button type="submit" class="btn btn-success btn-icon-split btn-sm">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-pen"></i>
                                    </span>
                                <span class="text">Modify</span>
                                </button>
                            </td>
                        </form>
                        <!--End of Modify Column-->
                        <!--Delete Column-->
                        <form action="/edit_lend" method="post">
                            <td class="padded">
                                <input type="hidden" name="lend_to_delete" value="{{ lend.name }}">
                                <input type="hidden" name="method" value="delete">    
                                <button type="submit" class="btn btn-danger btn-icon-split btn-sm">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-trash"></i>
                                    </span>
                                <span class="text">Delete</span>
                                </button>
                            </td>
                        </form>
                        <!--End of Delete Column-->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!--End of Table-->
        </div>
    </div>
{% endblock %}