{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<h2>Transaction History</h2><hr>

<div class="section">
    <table class="table">
        <thead>
            <tr>
                <td>Time</td>
                <td>Description</td>
                <td>Category</td>
                <td>Amount</td>
                <td>Added/Deducted To</td>
                <td>Account Transferred</td>
                <td>Borrowed From</td>
                <td>Lended To</td>

            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.time }}</td>
                    <td>{{ transaction.description }}</td>
                    <td>{{ transaction.category }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.account_1 }}</td>
                    <td>{{ transaction.account_2 }}</td>
                    <td>{{ transaction.borrow }}</td>
                    <td>{{ transaction.lend }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}