{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<h2>Transaction History</h2><hr>

<div class="section">
    <table class="table">
        <thead>
            <tr>
                <td>ID</td>
                <td>Time</td>
                <td>Description</td>
                <td>Account</td>
                <td>Category</td>
                <td>Amount</td>
                <td>Account Transferred</td>

            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.id }}</td>
                    <td>{{ transaction.time }}</td>
                    <td>{{ transaction.description }}</td>
                    <td>{{ transaction.account }}</td>
                    <td>{{ transaction.category }}</td>
                    <td>{{ transaction.amount | usd }}</td>
                    <td>{{ transaction.transfer_account }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}