{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div>
        <h1>You are currently logged in as {{ username }}!</h1>
    </div>
    <div align="center">
        <form action="/" method="post">
            <div style="float:center;" class="mb-3">
                <input class="form-control mx-auto w-auto" id="description" name="description" placeholder="Description" type="text">
            </div>
            <div style="float:center;" class="mb-3">
                <input class="form-control mx-auto w-auto" id="amount" name="amount" placeholder="Amount" type="number", min="1">
            </div>
            <div style="float:center;" class="mb-3">
                <select name="account">
                    <option disabled selected>Account</option>
                    {% for account in accounts %}
                        <option value="{{ account.account_name }}">{{ account.account_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div style="float:center;" class="mb-3">
                <select name="lend_borrow">
                    <option disabled selected>Lend/Borrow</option>
                        <option value="Lend">Lend</option>
                        <option value="Borrow">Borrow</option>
                        <option value="None">None</option>
                </select>
            </div>
            <div style="float:center;" class="mb-3">
                <select name="category">
                    <option disabled selected>Category</option>
                    {% for category in categories %}
                        <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                </select>
            </div>
            <button style="float:center" class="btn btn-primary" type="submit">Save</button>
        </form>
    </div>

    <div class="section">
        <table class="table">
            <thead>
                <tr>
                    <td>Account</td>
                    <td>Balance</td>
                </tr>
            </thead>
            <tbody>
                {% for account in accounts %}
                    <tr>
                        <td>{{ account.account_name }}</td>
                        <td>{{ account.balance | usd }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>    
{% endblock %}
