{% extends "layout.html" %}

{% block title %}
    {{ category }}
{% endblock %}

{% block main %}
<main class="main-content" style="width:137%">

    <div>
        
        <form action="/lend_or_borrow" method="post">

            <div>
                <input name="name" placeholder="Name" type="text">
            </div>

            <button type="submit">Proceed</button>

        </form>

    </div>

    <div>

        <form action="/lend_or_borrow" method="post">

            <div>

                <select name="name">
                    <option disabled selected>Existing Names</option>

                    {% for person in people %}
                    <option value="{{ person.name }}">{{ person.name }}</option>
                    {% endfor %}

                </select>

            </div>

            <button type="submit">Proceed</button>

        </form>

    </div>

</main>

{% endblock %}
