{% extends "layout.html" %}

{% block title %}
    Lends
{% endblock %}

{% block main %}
<!-- Basic Card Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Lends</h6>
    </div>
    <div class="card-body">
        <!--Table-->
        <table>
            <tbody>
                {% for lend in lends %}
                    <tr>
                        <td class="padded">{{ lend.name }}</td>
                        <td class="padded">{{ lend.balance }}</td>
                        <td class="padded">
                            <form action="/lend" method="post">
                                <input type="hidden" name="name" value="{{ lend.name }}">
                                <input type="hidden" name="amount" value="{{ lend.balance }}">
                                <input type="hidden" name="pay_collect" value="Collection from">
                                {% if lend.balance != 0 %}
                                <button type="submit" class="btn btn-info btn-icon-split btn-sm">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-hand-holding-dollar"></i>
                                    </span>
                                <span class="text">Collect</span>
                                </button>
                                {% endif %}
                            </form>
                        </td>
                        <td class="padded">
                            <form action="/synch" method="post">
                            {% for debt in debts %}
                                {% if lend.name == debt.name %}
                                <input type="hidden" name="name" value="{{ lend.name }}">
                                <input type="hidden" name="type" value="{{ lend.type }}">
                                <input type="hidden" name="request_source" value="lend">
                                <button type="submit" class="btn btn-success btn-icon-split btn-sm">
                                    <span class="icon text-white-50">
                                        <i class="fa-solid fa-rotate"></i>
                                    </span>
                                <span class="text">Synch</span>
                                </button>
                                {% endif %}
                            {% endfor %}
                            </form>
                            <form action="/unsynch" method="post">
                                {% if lend.type == "synched" %}
                                <input type="hidden" name="name" value="{{ lend.name }}">
                                <input type="hidden" name="type" value="{{ lend.type }}">
                                <input type="hidden" name="request_source" value="lend">
                                <button type="submit" class="btn btn-warning btn-icon-split btn-sm">
                                    <span class="icon text-white-50">
                                        <i class="fa-solid fa-x"></i>
                                    </span>
                                <span class="text">Unsynch</span>
                                </button>
                                {% endif %}
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <!--End of Table-->
    </div>
</div>
{% endblock %}