{% extends "layout.html" %}

{% block title %}
    Lends
{% endblock %}

{% block main %}
<h2>Lends</h2><hr>

<div class="section">
    <table class="table">
        <thead>
            <tr>
                <td>Name</td>
                <td>Amount</td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for lend in lends %}
                <tr>
                    <td>{{ lend.name }}</td>
                    <td>{{ lend.balance }}</td>
                    <form action="/lend" method="post">
                        <input type="hidden" id="name" name="name" value="{{ lend.name }}">
                        <input type="hidden" id="amount" name="amount" value="{{ lend.balance }}">
                        <input type="hidden" id="collect" name="pay_collect" value="Collection from">
                        <td>
                        {% if lend.balance != 0 %}
                            <button style="float:center" class="btn btn-primary" type="submit">Collect</button>
                       {% endif %}
                        </td>
                    </form>


                        <td>

                            <form action="/synch" method="post">

                                {% for debt in debts %}
                                    {% if lend.name == debt.name %}
                                    <input type="hidden" id="name" name="name" value="{{ lend.name }}">
                                    <input type="hidden" id="type" name="type" value="{{ lend.type }}">
                                    <input type="hidden" id="request_source" name="request_source" value="lend">
                                    <button style="float:center" class="btn btn-primary" type="submit">Synch</button>
                                    {% endif %}
                                {% endfor %}
                            </form>


                            <form action="/unsynch" method="post">
                                    {% if lend.type == "synched" %}
                                    <input type="hidden" id="name" name="name" value="{{ lend.name }}">
                                    <input type="hidden" id="type" name="type" value="{{ lend.type }}">
                                    <input type="hidden" id="request_source" name="request_source" value="lend">
                                    <button style="float:center" class="btn btn-primary" type="submit">Unsynch</button>
                                    {% endif %}
                            </form>

                        </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}