{% extends "layout.html" %}

{% block title %}
    {{ category }}
{% endblock %}

{% block main %}
    <div align="center">
        <form action="/lend_or_borrow" method="post">
            <div style="float:center;" class="mb-3">
                <input class="form-control mx-auto w-auto" id="name" name="name" placeholder="Name" type="text">
            </div>
            <button style="float:center" class="btn btn-primary" type="submit">Proceed</button>
        </form>
    </div>

    <div align="center">
        <form action="/lend_or_borrow" method="post">
            <div style="float:center;" class="mb-3">
                <select name="name">
                    <option disabled selected>Existing Names</option>
                    {% for person in people %}
                        <option value="{{ person.name }}">{{ person.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button style="float:center" class="btn btn-primary" type="submit">Proceed</button>
        </form>
    </div>

{% endblock %}
