{% extends "layout.html" %}

{% block title %}
    {{ block_title }}
{% endblock %}

{% block main %}
<h2>{{ block_title }}</h2><hr>

<div class="section">
    <h5>{{ pay_collect }} "{{ name }}"</h5><hr>
    <h5>{{ caption }}: {{ amount }}</h5><hr>

    <form action="/pay_collect_2" method="post">
        <input class="form-control mx-auto w-auto" id="amount" name="amount" placeholder="{{ amount }}" type="number", min="1", max="{{ amount }}">
        <input type="hidden" id="name" name="name" value="{{ name }}">
        <input type="hidden" id="collect" name="pay_collect" value="{{ pay_collect }}">
        <div style="float:center;" class="mb-3">
            <select name="account">
                <option disabled selected>Account To Use</option>
                {% for account in accounts %}
                    <option value="{{ account.account_name }}">{{ account.account_name }}</option>
                {% endfor %}
            </select>
        </div>
        <button style="float:center" class="btn btn-primary" type="submit">{{ block_title }}</button>
    </form>
</div>

{% endblock %}