{% extends "layout.html" %}

{% block title %}
    Rename
{% endblock %}

{% block main %}
<h2>Rename</h2><hr>

<div class="section">
    <h5>You are about to edit "{{ account_to_rename }}"</h5><hr>
    <h5>Balance: {{ current_account_balance }}</h5><hr>

    <form action="/rename_account" method="post">
        <input class="form-control mx-auto w-auto" id="new_account" name="new_account" placeholder="Rename Account" type="text">
        <input class="form-control mx-auto w-auto" id="new_account" name="new_balance" placeholder="Current Balance: {{ current_account_balance }}" type="number">
        <button style="float:center" class="btn btn-primary" type="submit">Save</button>
    </form>
</div>

{% endblock %}