{% extends "layout.html" %}

{% block title %}
    Rename
{% endblock %}

{% block main %}
<h2>Rename</h2><hr>

<div class="section">
    <h5>You are about to rename "{{ description_to_rename }}"</h5><hr>
    <form action="/rename_description" method="post">
        <input class="form-control mx-auto w-auto" id="new_description" name="new_description" placeholder="New Description" type="text">
        <button style="float:center" class="btn btn-primary" type="submit">Rename</button>
    </form>
</div>

{% endblock %}