{% extends "layout.html" %}

{% block title %}
    Synch
{% endblock %}

{% block main %}

<hr><h5>Synch Confirmation</h5><hr>


<div>

    Do you want to synch "{{ name }}" with "{{ name }}" from {{ opposite_transaction_type }} list?

</div>

<div>

    <form action="/synch" method="post">

            <input type="hidden" name="approval" value="Yes">
            <button type="submit">Yes</button>

    </form>

</div>

<div class="section">

    <form action="/synch", method="post">

        <input type="hidden" name="approval" value="No">
        <button type="submit">No</button>

    </form>

</div>


{% endblock %}