{% extends "layout.html" %}

{% block title %}
    Synch
{% endblock %}

{% block main %}
<hr>
<h5>Synch Confirmation</h5><hr>


<div class="section">

    Do you want to synch "{{ name }}" with "{{ name }}" from {{ opposite_transaction_type }} list?

</div>

<div class="section">
<form action="/synch" method="post">
        <input type="hidden" id="approval" name="approval" value="Yes">
        <button style="float:center" class="btn btn-primary" type="submit">Yes</button>
</form>
</div>

<div class="section">
<form action="/synch", method="post">
    <input type="hidden" id="approval" name="approval" value="No">
    <button style="float:center" class="btn btn-primary" type="submit">No</button>
</form>
</div>


{% endblock %}